<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>cine blog</title>
  <link rel="stylesheet" href="projetBlogbuster.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="body">

<header>

 <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand titre-menu" href="#">
      <img src="./image/.png"alt="">BlogBuster.com
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto menu">
        <li class="nav-item menuitem">
          <a class="nav-link" href="file:///Users/audreymertens/Documents/Code/Wild%20Code%20School/HTML:%20CSS/cineBlog/page-home.html#">HOME</a>
        </li>
        <li class="nav-item active menuitem">
          <a class="nav-link" href="file:///Users/audreymertens/Documents/Code/Wild%20Code%20School/HTML:%20CSS/cineBlog/page-actu.html#">Actu<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item menuitem">
          <a class="nav-link" href="#">Séries</a>
        </li>
        <li class="nav-item menuitem">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item menuitem">
          <a class="nav-link" href="file:///Users/audreymertens/Documents/Code/Wild%20Code%20School/HTML:%20CSS/cineBlog/page-contact.html#">Contact</a>
        </li>
      </ul>
    </div>
</nav>

<div class="nav-info">HOME | Actu | Article</div>

</header>
<div class="wrapper">
    <div class="titre-image"><h2 class="titre-detail">Harry Potter et les Reliques de la Mort</h2>
    <h4 class="sous-titre-detail">Le film tant attendu, qui sort 10 ans après le premier volet de la saga</h4><br/><br/></div>
<div class="image1">
<img src="https://i.goopics.net/DdPNX.png" class="images" alt="photo">
<a href="#infos-techniques"><img src="https://i.goopics.net/A0jLp.png" class="bouton-down" alt="bouton"></a>
<img src="https://i.goopics.net/2wZyK.png" class="etoiles" alt="photo">
<section id="infos-techniques"></section>
<div>
  <ul class="petite-nav">
    <li  class="petite-nav"><a href="#infos-techniques" class="lien">Infos techniques</a></li>
    <li  class="petite-nav"><a href="#resume" class="lien">Résumé</a></li>
    <li  class="petite-nav"><a href="#notre-critique" class="lien">Critique</a></li>
    <li  class="petite-nav"><a href="#la-suite" class="lien">Plus</a></li>
  </ul>
</div>
</div>
<h5 class="sous-titre-critique">La fiche technique</h5>
<div class="details-container">
    <p class="fiche"> Nom Original : Harry Potter and the Deathly Hallows<br/>
    Titre français : Harry Potter et les Reliques de la Mort<br/>
    Sortie anglophone : 21 juillet 2007<br/>
    Sortie francophone : 26 octobre 2007<br/>
    36 chapitres et un épilogue<br/><br/>
    Ventes totales : 77 millions d’exemplaires dans le monde<br/>
    Prix littéraires : Livre de l’année 2007 Newsweek ; Livre de l’année 2007 USA Today ; Grammy 2008 du meilleur livre audio pour enfants (lu par Jim Dale)</p>
  <div>
    <img src="https://i.goopics.net/ndKwJ.png" class="photo-auteur-container" alt="photo">
    <p class="auteur-description">
      France Hoi
    </p>
    <p class="auteur-description2">
      Critique amateur,
      étudiante en cinéma <br/>

      "Je pense que le plus beau dans un film,
      c'est quand même la lumière"
    </p>
  </div>
</div>
<img src="https://i.goopics.net/q4eOd.png" class="images" alt="photo">
</section>
<section id="resume">
<h5 class="sous-titre-critique">Le résumé</h5>
<div class="details-container2">
<p>

    Cette année, Harry a 17 ans et ne retourne pas à l'école de Poudlard après la mort de Dumbledore. Avec Ron et Hermione il se consacre à la dernière mission confiée par Dumbledore. Le Seigneur des Ténèbres règne en maître et traque les fidèles amis qui sont réduit à la clandestinité. D'épreuves en révélations, le courage, les choix et les sacrifices de Harry seront déterminants dans la lutte contre les forces du Mal.


    <br/><br/><br/>  Début en panique: Un stratagème est mis en place pour sortir Harry de chez les Moldus sans le mettre en danger. A peine eut-il pu rester quelques jours chez Ron que Harry et ses amis sont contraints à fuir loin de tout et de tout le monde.

    <br/><br/>   A l'aventure: Le but des recherches est évidemment de trouver les Hostruxes, mais également un moyen de les détruire. Après beaucoup de réflexion, ils finissent par trouver un Hostruxe. Le port de celui-ci est un tel fardeau que Ron ne tarde pas à lâcher ses compagnons. Harry et Hermionne se rendent dans le village où vécut Dumbledore et où ses parents furent assassinés. Là, ils échappent de peu au serpent de Voldemort. Harry découvre l'emplacement de l'épée de Gryffondor, capable d'anéantir les Hostruxes. Ron les rejoint alors, plein de remords. Ils découvrent ensuite ce que signifient les reliques de la mort : la baguette la plus puissante au monde, une pierre de résurrection et une cape permettant d'échapper à la mort. Mais ils sont alors pris dans une embuscade.

    <br/><br/>   Les choses se corsent: Conduit chez les Malfoy, Drago fait mine de ne pas les reconnaître. Avec difficulté, ils parviennent à s'échapper grâce à Dobby, mais celui-ci périt d'un coup de poignard. Les jeunes décident d'entrer dans la banque des sorciers et d'y dérober un potentiel Hostruxes. Ils manquent d'y laisser leur peau et s'enfuient à dos de dragon. Ils se rendent à Pré-au-Lard, prêt à réintégrer discrètement le château.

    <br/><br/>   La bataille finale: Tout le château se réveille et livre bataille. Harry détruit tous les Hostruxes à part un. Beaucoup de ses connaissances meurent, dont un des jumeaux Weasley. En pourchassant Rogue qui se fait assassiné par Voldemort, il découvre que Rogue était follement amoureux de sa mère et avait toujours cherché à le protéger. Il décide de se livrer à Voldemort qui ne tarde pas à le tuer. Seulement Harry ressuscite grâce à la pierre. Neville ayant coupé la tête au serpent de Voldemort. Harry tue ce dernier, ce qui met fin définitivement au règne des ténèbres.

    <br/><br/>  Plus tard: Harry, marié à Ginny est père de trois enfants : Albus, Severus et Lily Potter. Ron et Hermionne ont quant à eux une adorable petite fille.


</p>
</div>

<!-- fix image -->
<div class="fixed"></div>

</section>
<section id="notre-critique">
<h5 class="sous-titre-critique">Notre critique</h5>
<div class="details-container2">
<p>
    1 an et demi après la sortie d’Harry Potter et le prince de sang-mêlé, la saga magique créée par J.K. Rowling entame sa dernière ligne droite avec Harry Potter et les reliques de la mort – Partie 1.

    <br/><br/> Cet avant-dernier épisode nous raconte comment Voldemort va prendre le contrôle du monde magique et le départ d’Harry, Ron et Hermione à la recherche des horcruxes, dans le but de vaincre Voldemort.
    L’histoire de ce film est très intéressante. Déjà la meilleure idée de l’équipe du film, c’est d’avoir coupé le dernier livre en deux. Cela permet à l’histoire du film de bien développer l’univers de la saga et de prendre son temps pour le faire évoluer, le film prend aussi son temps pour bien développer les trois personnages principaux ainsi que leurs relations.

    <br/><br/>Encore une fois, le film ne tourne pas en rond par rapport aux précédents, il est même très différent. Par exemple, c’est le premier film qui se passe totalement en dehors du cadre de Poudlard.

Tous ces développements permettent de poser de très bons questionnements et amènent surtout de très bons rebondissements qui continuent de faire évoluer l’intrigue principale de la saga.

On pourra seulement déplorer quelques facilités scénaristiques, quelques incohérences et quelques éléments manquants d’explications.


<br/><br/>Dans l’ensemble, le film est plutôt bien rythmé malgré de légères baisses de rythme entre la scène du ministère et la scène de Godric's Hollow.

Les scènes d’action sont très bonnes, surtout les deux courses poursuites (celle dans les airs et celle dans la forêt) qui sont excellentes. J’ai aussi beaucoup aimé la scène d’action dans le café, elle illustre bien la tension qui règne dans le monde des sorciers, comme dans le monde des moldus, et le fait qu’en temps de guerre, les personnages doivent toujours être sur leurs gardes.

<br/><br/>Visuellement, ce film est magnifique. Les images sont très belles et les effets spéciaux sont dans l’ensemble plutôt bons. Une scène sort vraiment du lot, il s’agit de la scène racontant le Conte des Trois Frères. Cette scène est entièrement animée, et vraiment magnifique. Elle change vraiment de tous ce qu'on a pu voir avant dans la saga.

Le film est légèrement plus sombre que les films précédents. On ressent vraiment la tension qui règne dans le monde des sorciers à cause de la guerre et des rafles qui ont lieu un peu partout. Les trois personnages principaux ne sont à l’abri nulle part, ils ne sont surs de rien, ils ne savent plus comment s’y prendre pour vaincre Voldemort et ça se ressent sur l’ambiance du film.

La nostalgie est aussi très présente dans ce film, on se rapproche de la fin d’une saga qui aura duré 10 ans (au cinéma), on s’apprête à quitter un monde magique qui aura nous accompagné plusieurs années, depuis notre enfance pour la plupart des spectateurs et le film met vraiment l’accent dessus. Enfin, un peu d’humour et de décalage bien dosé viennent apporter une petite touche de légèreté à l’ambiance du film.

<br/><br/>Dans l’ensemble, les acteurs sont très bons. Il y a seulement le personnage de Xenophilius Lovegood, joué par Rhys Ifans, que je trouve un peu trop exagéré.

En revanche, les trois acteurs principaux sont vraiment excellents. La majeure partie du film repose sur eux, ce qui leur permet donc de montrer à quel point ils se sont améliorés pendant cette saga et à quel point ils sont devenus de très bons acteurs.

J’ai aussi beaucoup apprécié le personnage de Luna Lovegood, jouée par Evanna Lynch. On ne la voit pas très longtemps, mais c’est assez pour qu’elle prononce l’une des meilleures répliques du film selon moi : « viens Papa, Harry n’a pas envie de nous parler pour le moment, il est juste trop poli pour nous le dire ». Cette phrase résume parfaitement cet état d’esprit qui me plait tant chez le personnage de Luna.

Je trouve aussi les changements d’attitude chez Lucius Malefoy très intéressant et très bien interprétés par Jason Isaacs. Enfin, je suis très heureux de revoir Dobby dans la saga, sa présence contribue, je trouve, à installer la nostalgie présente dans ce film.

<br/><br/>L’un des plus gros changements de ce film, c’est aussi les décors. En effet, c’est la première (et la seule) fois dans la saga, où l’on ne voit pas du tout Poudlard dans un film. Heureusement, les décors et les paysages que l’on va découvrir pendant le voyage d’Harry et de ses amis sont vraiment magnifiques et comble parfaitement le manque créer par l’absence de Poudlard. La nouvelle sculpture dans le hall du ministère est vraiment impressionnante et illustre parfaitement le climat qui règne dans le monde des sorciers.

La musique du film est excellente. Ce sont principalement de nouveaux morceaux qui sont vraiment magnifiques. Ils contribuent parfaitement à l’ambiance tendue et nostalgique du film.

On entend très peu le thème principal de la saga. En fait, les rares fois où on l’entend, ce thème est réarrangé de façon à être très discret. On ne l’entend que lorsqu’un élément présent à l’écran nous rappelle les films précédents (par exemple, l’armoire sous l’escalier au début du film).

<br/><br/>Pour conclure, Harry Potter et les reliques de la mort – Partie 1 est un excellent film. Avec quelques explications en plus par moments, je pense qu’il aurait pu être un film parfait. Il contribue réellement à comprendre (avec nostalgie) l’ampleur de l’impact qu’aura eu la saga sur ses spectateurs et prépare habilement le terrain pour un dernier film qui s’annonce grandiose.

<br/><br/>Note : 4/5
<br/><br/>Merci d’avoir lu cette critique, n’hésitez pas à laisser vos avis dans les commentaires ou par message, et à partager la critique si elle vous a intéressé. Bonne journée !
</p>
</div>

<!-- fix image -->
<div class="fixed2"></div>

<section id="la-suite">
<h5 class="sous-titre-critique">Et pour la suite ?</h5>
<div class="details-container2">
<p>
    LE RETOUR – J. K. Rowling fait renaître Harry Potter, sept ans après la fin de la saga

    <br/><br/> Il a désormais presque 34 ans et quelques cheveux gris. Sept ans après la fin de la saga romanesque Harry Potter, son héros éponyme reprend vie sous la plume de J. K. Rowling. L’auteure de la série de sept tomes a publié un court texte sur le site Pottermore (accès au texte après inscription), qui met en scène le célèbre sorcier et ses amis.

    <br/><br/>Ce texte s’inscrit dans une série d’articles commencée début juin, dans laquelle J. K. Rowling raconte le déroulement de la Coupe du monde de Quidditch (qui existe vraiment) — où les joueurs évoluent sur des balais. Compte-rendus de matchs, pronostics, anecdotes… les textes étaient jusqu’alors purement factuels et dénués de toute référence au héros à lunettes rondes. Jusqu’à l’article de « la correspondante pour les ragots » de La Gazette du sorcier, Rita Skeeter, posté mardi 8 juillet et intitulé « L’armée de Dumbledore à nouveau réunie pour la finale de la Coupe du monde ».

    <br/><br/>Nous sommes en 2014 et Harry, Hermione et Ron, qui ont vaincu Celui-Dont-On-Ne-Devait-(le changement de temps est à noter)-Prononcer-Le-Nom, assistent donc en véritables célébrités à la finale du Mondial de Quidditch, « dans les gradins du désert de Patagonie ». La journaliste, qui n’a pas perdu une once de son ton railleur et mesquin, commente cette visite. Désormais trentenaires, ils ont « les visages moins juvéniles que dans leurs jours de gloire mais [sont] tout de même parfaitement reconnaissables ».

    <br/><br/>N’en déplaise à la chroniqueuse, leur présence — dans une zone VIP ultraprotégée — suscite une véritable passion : « La foule devient incontrôlable », les spectateurs « espérant apercevoir leurs héros ». Pour ceux qui n’auraient pas eu cette chance, Rita Skeeter se lance alors dans une description peu flatteuse des trois amis sorciers.

    <br/><br/>« Quelques mèches argentées parsèment les cheveux noirs [de Harry, qui] porte encore ses caractéristiques lunettes rondes, qui iraient mieux, selon certains, à un jeune de 12 ans qui n’a rien compris à la mode. » Puis la journaliste délaisse l’ironie au profit du sensationnalisme en supputant sur la coupure qui barre sa pommette droite, certainement liée à son métier d’Auror (membre d’une unité d’élite du ministère de la magie).

    <br/><br/>D’abord faussement inquiète d’un nouveau conflit à venir — « Le monde va-t-il à nouveau sombrer dans une nouvelle ère de terreur et de chaos ? » —, la correspondante cède vite aux sirènes des commérages sur la vie personnelle du couple qu’il forme avec Ginny, la petite sœur de Ron, avec laquelle il a deux fils, James et Albus. Avant de prétendre que la jeune femme, qui couvre la Coupe du monde pour La Gazette des sorciers, ne doit son embauche qu’à son nom d’épouse.

    <br/><br/>Ron dégarni, Hermione « femme fatale »

    <br/><br/>Viennent ensuite des nouvelles de Ron… affublé d’entrée, lui aussi, d’un commentaire désobligeant sur sa calvitie naissante. On apprend ainsi que le meilleur ami de Harry, « dont la célèbre chevelure rousse semble se clairsemer un peu, est immédiatement entré au ministère de la magie », avant de rejoindre deux ans plus tard le magasin de farces et attrapes fondé par ses frères jumeaux. Un changement de carrière potentiellement suspect pour la reportrice, qui n’hésite pas à mettre en doute sa santé mentale.

    <br/><br/>Les médisances de Rita Skeeter prennent encore une autre dimension quand il s’agit de parler d’Hermione. Flirtant sans complexe avec le sexisme, la correspondante la qualifie de « femme fatale du groupe ». Et d’énumérer ses conquêtes avant son mariage avec le « sous-fifre de Potter », Ron, avec qui elle a eu un garçon, Hugo, et une fille, Rose. La sorcière est désormais directrice adjointe du département de la justice magique et est « bien partie pour continuer à monter en grade ». Mais le paragraphe qui lui est dédié ne saurait se terminer sans un commentaire d’ordre capillaire : « Hermione Granger est-elle la preuve qu’une sorcière peut tout avoir ? (Non, regardez ses cheveux). »

    <br/><br/>Enfin, après quelques nouvelles, entre autres, de Neville Londubat — devenu professeur de botanique à Poudlard avec un penchant fortement suggéré pour l’alcool — et de Luna Lovegood — venue sans ses jumeaux, peut-être « trop dérangés » pour être de la partie —, l’article touche finalement à son but : annoncer la sortie d’une nouvelle biographie sur l’armée de Dumbledore, écrite par… votre servante, Rita Skeeter.

    <br/><br/>Ce nouveau texte n’a pas manqué d’être relayé par la presse mondiale (ici, ici et ici), provoquant au passage des spéculations sur la suite des aventures du sorcier à la cicatrice en forme d’éclair.

</p>
</div>
</section>

<div class="commentaires">


</div>
</div>

<!-- Commentaire-->

<div class="comment-div">
<div class="comments-app" ng-app="commentsApp" ng-controller="CommentsController as cmntCtrl">
  <h1>Commentaires</h1>

  <!-- From -->
  <div class="comment-form">
    <!-- Comment Avatar -->
    <div class="comment-avatar">
      <img src="http://lorempixel.com/200/200/people">
    </div>

    <form class="form" name="form" ng-submit="form.$valid && cmntCtrl.addComment()" novalidate>
      <div class="form-row">
        <textarea
                  class="input"
                  ng-model="cmntCtrl.comment.text"
                  placeholder="Add comment..."
                  required></textarea>
      </div>

      <div class="form-row">
        <input
               class="input"
               ng-class="{ disabled: cmntCtrl.comment.anonymous }"
               ng-disabled="cmntCtrl.comment.anonymous"
               ng-model="cmntCtrl.comment.author"
               ng-required="!cmntCtrl.comment.anonymous"
               placeholder="Email"
               type="email">
      </div>

      <div class="form-row text-right">
        <input
               id="comment-anonymous"
               ng-change="cmntCtrl.anonymousChanged()"
               ng-model="cmntCtrl.comment.anonymous"
               type="checkbox">
        <label for="comment-anonymous">Anonymous</label>
      </div>

      <div class="form-row">
        <input type="submit" value="Add Comment">
      </div>
    </form>
  </div>

  <!-- Comments List -->
  <div class="comments">
    <!-- Comment -->
    <div class="comment" ng-repeat="comment in cmntCtrl.comments | orderBy: '-date'">


    <!-- Comment - Dummy -->
    <div class="comment">
      <!-- Comment Avatar -->
      <div class="comment-avatar">
        <img src="https://i.goopics.net/EdQJ5.jpg">
      </div>

      <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">Article de merde!</div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <a href="mailto:sexar@pagelab.io">Ayoub</a>
            </span>
            <span class="comment-date">Oct 2, 2018 11:32:04 PM</span>
          </div>

          <div class="comment-actions">
            <a href="#">Reply</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Comment - Dummy -->
    <div class="comment">
      <!-- Comment Avatar -->
      <div class="comment-avatar">
        <img src="http://lorempixel.com/200/200/people">
      </div>

      <!-- Comment Box -->
      <div class="comment-box">
        <div class="comment-text">Je ne suis pas d'accord avec vous... Je suis décue de voir que le monde est peuplé de gens sans ames et valeurs! vos pensée ne sont pas à la hauteur de JK Rowling. Paix à elle.</div>
        <div class="comment-footer">
          <div class="comment-info">
            <span class="comment-author">
              <a href="mailto:ximme13@somedomain.io">Audrey</a>
            </span>
            <span class="comment-date">Oct 6, 2018 04:00:04 PM</span>
          </div>

          <div class="comment-actions">
            <a href="#">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Nos Valeurs</h5>
          <p>On croit en un monde meilleur. En proposant des critiques, on est conscient de l'influence qu'on a sur l'avis de nos lecteurs et indirectement sur le monde du cinema. Notre but est de limiter la diffusion de navet et par consequent d'avoir un impact positif sur l'environnement.</p></div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Info</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Conditions d'utilisation</a>
              </li>
              <li>
                <a href="#!">Aide</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Suivez-nous</h5>

            <ul class="social-media">
              <li class="facebook social-item"> <a href="#"> <img src="https://i.goopics.net/Xg0jl.png" alt="face" width="30" height="30"></a></li>
              <li class="twitter social-item">
                <a href="#!"> <img src="https://i.goopics.net/eVgXW.png" alt="twitter" width="30" height="30"></a>
              </li>
              <li class="instagram social-item">
                <a href="#!"> <img src="https://i.goopics.net/G5ox7.png" alt="insta" width="30" height="30"></a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright: ProjetAAA</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
