                                      /* Audrey Home*/

/* ##### Style mobile ####*/

.contact{
position: absolute;
top:0;
right:0;
padding-top: 1.3%;
padding-right: 80px;
}

/* Navigation */

.menu{
  margin-left: 40px;
  padding: 10px;
}

.menuitem{
  margin-left: 30px;
  letter-spacing: 5px;
}


.titre-blog{
  font-family: "Archistico";
  font-style: italic;
  font-size: 60px;
  margin-left: 10%;
  color: #023548;
  padding-top: 40px;
}

.div-presentation{
  font-family: "Playfair Display";
  display: flex;
  flex-direction: column;
  padding-right: 35%;
  padding-left: 10%;
  box-sizing: border-box;


}

.bouton-actu{
  border: 1px solid #023548;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
  color: #023548;
}

.bouton-actu:hover{
  background-color: #023548;
  color: white;
}

/* Slider */



.slider{
  position: relative;
  margin-top: 2%;
  min-height:500px;
}

.harry{
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  letter-spacing: 3px;
  z-index: 1;
}

.slider-contenair{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.slider-contenair:after{
  content:"";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-contenair:hover:after{
 background-color: rgba(0,0,0, .6);
 pointer-events: none;
}

.carousel-inner{
  height: 50vh;
}

.batman{
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  letter-spacing: 3px;
  z-index: 1;
}

.paranormal{
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  letter-spacing: 3px;
  z-index: 1;
}


/* critique */

.vide{
  padding-bottom: 10px;
  font-family: "Playfair Display";
  text-align: center;
}

.critiqueurs{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 0px;
}

.nom-critiqueurs{
  font-family: "Playfair Display";
  letter-spacing: 3px;
  padding-top: 40px;
}

.detail-critiqueurs{
  font-family: "Playfair Display";
  color:grey;
  padding:30px 70px 70px 30px;
}






/*Footer*/
footer{
  background-color: #023548;
  color: white;
}

.social-media{
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style-type: none;
}

.social-item{
  margin: 10px;
}





/* ##### Style tablette ####*/
@media screen and (min-width: 870px ){

.critiqueurs{
  display: flex;
}

  /*Footer*/
.valeurs{
  padding-right: 100px;
}

.social-media{
  justify-content:flex-start;
  margin-left: 0;
  padding: 0;
}

.detail-critiqueurs{
  padding: 40px;
}


}

/* ##### Style large screen ####*/


@media screen and (min-width: 1200px){
  .div-presentation{
    flex-direction: row;

  }

  .bouton-actu{
    position: absolute;
    right:10%;
  }

  }

                                      /* Audrey Contact*/

/* ##### Style mobile ####*/




.wrapper1{
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.body-contact{
background-image: url(https://i.goopics.net/vwEaD.jpg);
}


/*Cover image*/
.contact-container{
  position: relative;
}

.couche-opaque{
  background-color: rgba(255,255,255, .7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
}

/*Title*/

.parent-texte{
  position: relative;
  height:100%;
}

.header1{
  position: absolute;
  bottom:20%;
  left:50%;
  transform:translate(-50%,-50%);
  color: black;
  font-size: 50px;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  text-align:center;
}

.header1:before{
  content: "";
  position: absolute;
  width: 265px;
  height: 1px;
  background-color: black;
  top: 100%;

}

.sub-header{
  position: absolute;
  color: black;
  bottom: 10%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  font-size: 15px;
  font-family: "Playfair Display";
  letter-spacing: 2px;
  opacity: 0;
}

@media screen and (min-width: 720px ){
  .sub-header{
    opacity: 1;
  }
}

.image{
  width: 100%;
  max-height: auto;
  display: block;
}

.header2{
  text-align: center;
  font-size: 25px;
  color: black;
  text-align: center;
  left:50%;
  padding-top:5%;
  font-family: "Playfair Display";
  letter-spacing: 2px;
}

/*contact form*/



.contact-form{
  text-align: center;
  left:50%;
  padding-top: 6%;
}


.submit{
text-align: center;
cursor: pointer;
margin-bottom: 40px;
margin-top: 10px;
}

.submit:hover{
color: yellow;
}

.input-submit{
cursor: pointer;
}

.input-submit:hover{
color: darkgrey;
}

input, textarea{
  border-radius: 3px;
  width: 60%;
  margin-top: 1em;
  font-family: "Playfair Display";
  letter-spacing: 2px;
  color: #ADAF9A;
  font-size: 15px;
}







/* ##### Style web ####*/

@media screen and (min-width: 1200px ) {

  .contact-form{
    display: flex;
    justify-content: center;
  }

 .short-input{
    margin-right:20%;
  }

.input-item{
  width: 200%;
}

textarea{
  width: 102%;
  padding-right: 128px;
}

}




                                      /* Anja */

/* ----> page détail style <------ */

.body{
  background-image: url(https://i.goopics.net/vwEaD.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.wrapper{
  max-width: 90%;
  margin:auto;
  background-color:White;
}



/* texte */

.petite-nav{
  display:flex;
  justify-content: center;
  list-style:none;
  letter-spacing:5px;
  text-align:center;
  margin-right:70px;
  font-size:20px;
  margin-left:20px;
}
.lien{
  text-decoration:none;
  color:black;
  outline-style:none;
  outline-color:none;
}
.sous-titre-critique{
  padding:6%;
  font-size:40px;
  font-family:"Fairplay Display";
  letter-spacing:5px;
  word-spacing:5px;
  margin-bottom: -100px;
}
.titre-detail{
  text-align:center;
  padding-top:2%;
  font-family: Baskerville;
  font-size: 300%;
  margin-top:20px;
}
.sous-titre-detail{
  text-align:center;
  font-family: Baskerville;
  font-size: 200%;
}

.details-container{
  display:flex;
  flex-direction:row;
  width:80%;
  text-align:justify;
  padding:6%;
  font-size:120%;
}
.details-container2{
  display:flex;
  flex-direction:row;
  width:100%;
  text-align:justify;
  padding:6%;
  font-size:120%;
}
.auteur-description{
  position:relative;
  left:75%;
  font-size:150%;
  font-family:Georgia;
}
.auteur-description2{
  position:relative;
  left:65%;
  font-size:100%;
  font-family:Georgia;
}
.fiche{
  font-size:100%;
  padding:6%;
}
/* images */
.image1{
  position:relative;
}
.bouton-down{
  position:relative;
  width:5%;
  left:48%;
  top:-88px;
}
.etoiles{
  position:absolute;
  width:10%;
  left:45%;
  top:415px;
}
.images{
  position:relative;
  display:block;
  margin-right:auto;
  margin-left: auto;
  width:100%;
}


@media screen and (max-width: 1200px){
  .images{
    position:relative;
    display:block;
    margin-right:auto;
    margin-left: auto;
    width:100%;
  }
  .etoiles{
    position:absolute;
    width:10%;
    left:45%;
    top:335px;
  }
}
.photo-auteur-container{
  position:relative;
  flex-direction: row;
  height:175px;
  width:auto;
  left:65%;
}
 /*Footer*/
  .social-media{
  justify-content: flexstart;
  margin-left: 0;
  padding: 0;
}
/* commentaires */


/* ##### Style mobile ####*/

.contact{
position: absolute;
top:0;
right:0;
padding-top: 1.3%;
padding-right: 80px;
}


/* Typo */


.titre-blog{
  font-family: "Archistico";
  font-style: italic;
  font-size: 60px;
  margin-left: 10%;
}

.div-presentation{
  font-family: "Playfair Display";
  display: flex;
  flex-direction: column;
  padding-right: 35%;
  padding-left: 10%;
  box-sizing: border-box;


}


/* Slider */

.slider{
  position: relative;
  margin-top: 2%;
  min-height:500px;
}

.harry{
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  letter-spacing: 3px;
}

.slider-contenair{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.slider-contenair:hover{
 background-color: rgba(0,0,0, .6);
}

.carousel-inner{
  height: 50vh;
}

.batman{
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  letter-spacing: 3px;
}

.paranormal{
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 20px;
  font-family: "Playfair Display";
  letter-spacing: 3px;
}

.vide{
  padding-bottom: 10px;
  padding-top: 30px;
  font-family: "Playfair Display";
  text-align: center;
}

/* image fixe*/
.fixed{
  padding: 200px 0;
  width: 100%;
  background: url(https://i.goopics.net/g32eW.png) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100;
  background-size: cover;
}

.fixed2{
  padding: 200px 0;
  width: 100%;
  background: url(https://i.goopics.net/kegNl.png) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100;
  background-size: cover;
}

/*Commentaire*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  background-color: #dee1e3;
  font-family: "Roboto", "Tahoma", "Arial", sans-serif;,
}

.text-right{ text-align: right; }

.comments-app{
  margin: 50px auto;
  max-width: 680px;
  padding: 0 50px;
  width: 100%;
}

.comments-app h1{
  color: #191919;
  margin-bottom: 1.5em;
  text-align: center;
  text-shadow: 0 0 2px rgba(152, 152, 152, 1);
}

.comment-form{  }
.comment-form .comment-avatar{  }

.comment-form .form{ margin-left: 100px; }

.comment-form .form .form-row{ margin-bottom: 10px; }
.comment-form .form .form-row:last-child{ margin-bottom: 0; }

.comment-form .form .input{
  background-color: #fcfcfc;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  width: 100%;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.comment-form .form textarea.input{
  height: 100px;
  padding: 15px;
}

.comment-form .form label{
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
}

.comment-form .form input[type=submit]{
  background-color: #555f77;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  outline: none;
  padding: 6px 15px;

  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.comment-form .form .input:focus,
.comment-form .form input[type=submit]:focus,
.comment-form .form input[type=submit]:hover{
  box-shadow: 0 2px 6px rgba(121, 137, 148, .55);
}

.comment-form .form.ng-submitted .input.ng-invalid,
.comment-form .form .input.ng-dirty.ng-invalid{
  box-shadow: 0 2px 6px rgba(212, 47, 47, .55) !important;
}

.comment-form .form .input.disabled {
    background-color: #E8E8E8;
}


.comments{  }

.comment-form,
.comment{
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

.comment-form .comment-avatar,
.comment .comment-avatar{
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  height: 80px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80px;
}

.comment-form .comment-avatar img,
.comment .comment-avatar img{
  display: block;
  height: auto;
  width: 100%;
}

.comment .comment-box{
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  margin-left: 100px;
  min-height: 60px;
  position: relative;
  padding: 15px;
}

.comment .comment-box:before,
.comment .comment-box:after{
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  content: "";
  left: -10px;
  position: absolute;
  top: 20px;
}

.comment .comment-box:before{
  border-color: transparent rgba(0, 0, 0, .05);
   top: 22px;
}

.comment .comment-text{
  color: #555f77;
  font-size: 15px;
  margin-bottom: 25px;
}

.comment .comment-footer{
  color: #acb4c2;
  font-size: 13px;
}

.comment .comment-footer:after{
  content: "";
  display: table;
  clear: both;
}

.comment .comment-footer a{
  color: #acb4c2;
  text-decoration: none;

  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}

.comment .comment-footer a:hover{
  color: #555f77;
  text-decoration: underline;
}

.comment .comment-info{
  float: left;
  width: 85%;
}

.comment .comment-author{ }
.comment .comment-date{ }

.comment .comment-date:before{
  content: "|";
  margin: 0 10px;
}

.comment-actions{
  float: left;
  text-align: right;
  width: 15%;
}

.comment-div{
  background-color: white;
  width: 90%;
  transform: translate(-50%);
  margin-left:50%;
}





/* Style tablette */


@media screen and (min-width: 870px){
  .div-presentation{
    flex-direction: row;
  }

  .bouton-actu{
    position: absolute;
    right:10%;
  }



}



                                      /* Ayoub */

.body-actu{
    background-image: url("https://i.goopics.net/5VD1Y.jpg");
}

.div-enorme{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header-actu{
    padding-bottom: 10px;
    background-color: rgb(12, 12, 12);
}

/*navigation*/

.titre-menu{
    font-style: italic;
    font-weight: bold;
    font-family: "Arvo"
}

.menu{
    margin-left: 40px;
    padding: 10px;
}

.menuitem{
    margin-left: 30px;
    letter-spacing: 5px;
}



/*bannière*/

.banniere{
    width: 100%;
    max-height: 250px;
}

.titre-banniere{
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    transform:translate(-50%);
    margin-left: 50%;
    font-family: "Arvo";
    font-size: 20px;
    letter-spacing: 3px;
    width: 100%
}

.div-banniere{
    position: relative;
}

/*info navigation*/

.nav-info{
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 25px;
    font-family: "Fiona"
}

/* Les articles en commun */

.descrip-article{
    margin-top: 5%;
    text-align: justify;
}

.div-descrip{
    width: 80%;
    margin: 0 auto;
}


.div-article{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #d3c3a7;
    border-radius: 0 0 5px 5px;
    margin-bottom: 30px;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-image-titre{
    position:relative;
}

.read-more{
    position:absolute;
    color: #112b35;
    bottom: 5%;
    right: 1%;
    border: 1px solid #112b35;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,255,255);
    transition: padding 400ms ease-in-out, color 300ms ease-in-out;

}

.read-more:hover{
    padding:3px;
    background-color: rgba(10, 86, 88);
    border: 1px solid rgba(10, 86, 88);
    color: white;
}

.div-descrip-read{
    position: relative;
    padding: 0px;
}

.image-article{
    max-height: 300px;
    width: 100%
}

.titre-article{
    position: absolute;
    color: white;
    top: 80%;
    left: 5%;
    font-family: "Playfair Display";
    font-size: 13px;
    transition: all 500ms ease-in-out;
    -webkit-transition:font-size 300ms
}

.etoiles1{
    position: absolute;
    z-index: 2;
    width: 100px;
    transform:translate(-50%, -50%);
    left: 50%;
    bottom: 50%;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

/* Hover */

.div-image-titre:hover .opacité{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}

.div-image-titre:hover .titre-article{
    transform:translate(-50%);
    left: 50%;
    top: 15%;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.div-image-titre:hover .etoiles1{
    opacity: 1;
}

/* Pages */

.pages{
    display: flex;
    justify-content: center;
}

/*MEDIA*/

@media screen and (max-width: 400px){
    .div-image-titre:hover .titre-article{
        display: none;
    }
}

@media screen and (min-width: 400px){
    .titre-banniere{
        font-size: 25px;
        letter-spacing: 3px;
    }
    .titre-article{
        font-size: 14px;
    }
    .div-image-titre:hover .titre-article{
        font-size: 17px;
    }
}

@media screen and (min-width: 500px){
    .titre-banniere{
        font-size: 30px;
        letter-spacing: 4px;
    }
    .titre-article{
        font-size: 15px;
    }
    .div-image-titre:hover .titre-article{
        font-size: 20px;
    }
}

@media screen and (min-width: 600px){
    .titre-banniere{
        font-size: 35px;
        letter-spacing: 5px;
    }
    .titre-article{
        font-size: 18px;
    }
    .div-image-titre:hover .titre-article{
        font-size: 25px;
    }
}

@media screen and (min-width: 700px){
    .titre-banniere{
        font-size: 40px;
        letter-spacing: 6px;
    }
    .div-article{
        display: flex;
        border-radius: 0 5px 5px 0;
    }
    .read-more{
        transform:translate(50%);
        right: 50%;
    }
    .div-descrip-read{
        width: 30%;
    }
    .div-image-titre{
        width: 70%;
    }
    .div-image-titre:hover .titre-article{
        font-size: 20px;
    }
    .image-article{
        height: 100%;
    }
    .div-descrip{
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 699px){
    .read-more{
        display: none;
    }
}

@media screen and (min-width: 900px){
    .titre-banniere{
        font-size: 40px;
        letter-spacing: 6px;
    }
    .titre-article{
        font-size: 20px;
    }
    .div-image-titre:hover .titre-article{
        font-size: 25px;
    }
}

@media screen and (min-width: 1000px){
    .titre-banniere{
        font-size: 50px;
        letter-spacing: 7px;
    }
    .div-image-titre:hover .titre-article{
        font-size: 30px;
    }
}

